
        .nav-big {
            overflow: hidden;
            background-color: #0d6efd;
            padding: 10px 10px;
        }

        .nav-big a.logo {
            font-size: 25px;
            font-weight: bold;
            color: white;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {
            height: 550px
        }

        .nav {
            padding-top: 10px;
        }

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }

        /* On small screens, set height to 'auto' for the grid */
        @media screen and (max-width: 767px) {
            .row.content {
                height: auto;
            }

            table {
                display: block;
                height: 500px;
                overflow-y: scroll;
            }

            .nav-big {
                display: none;
            }
        }

        .min-head {
            display: flex;
            justify-content: space-between;
            padding: 10px;
        }
        .logout-btn{
            margin-right: 40px;
        }
        .word_limit{
            color: #706f6c;
        }
        .validation_message{
            color: red;
        }